<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Театр ВМП</title>
</head>
<body>
{% if request.user.is_authenticated %}
    <h1>Добро пожаловать на сайт нашего театра, {{ request.user.username }}!</h1>
    <!-- <a href="{% url 'logout' %}" >Выйти</a> В моей версии джанго это не работает -->
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-link">Выйти</button>
    </form>
    <br>
    <br>
{% else %}
    <h1>Добро пожаловать на сайт нашего театра!</h1>
    <a href="{% url 'login' %}">Войти</a>
    <br>
    <br>
{% endif %}
<table>
    {% for show in show_list %}
    <tr> <a href="{{ show.get_absolute_url }}"> {{ show.play.title }}</a> - {{ show.starts_at }} </tr>
    <br>
    {% endfor %}
</table>
</body>
</html>